# Example basiswebdl config file
# Copy to ~/.basiswebdl.ini and adapt.

[connection]
# host = https://example.org:8443
host = https://10.10.10.10:8443
user = alice
password = !@#42
noproxy = 10.0.0.0/8

[validation]
schema = basisweb.xsd
log = ERROR
